:root {
  /*color-scheme: dark;*/
}

html, body {
  margin: 0;
  overscroll-behavior: contain;
}

.cm-editor {
  height: 100vh;
}

.expression-result {
  display: inline;
  text-indent: 2em;
  cursor: text;
  color: red;
}